h1,h2,h3{
       font-family:
           "ƒqƒ‰ƒMƒm–¾’© Pro W3", "Hiragino Mincho Pro",
           "MS P–¾’©", "MS P Mincho",
           serif;
}

*{
       font-family:
           "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "Hiragino Kaku Gothic Pro",
           "ƒƒCƒŠƒI", Meiryo,
           Osaka,
           "MS PƒSƒVƒbƒN", "MS P Gothic",
           sans-serif;
}